.process{
  margin: 100px 0;
  text-align: center;

  h2{
    margin-top: 15px;
  }

  &__items{
    display: flex;
    justify-content: space-between;
  }

  &__item{
    margin-top: 45px;
    padding: 0 45px;
  }

  &__title{
    font-size: 18px;
    line-height: 26px;
    margin: 15px 0;
  }

  &__text{
    font-size: 15px;
    line-height: 24px;
  }
}