$oneColor: red;

$twoColor: green;

body{
  background: url("../images/fon.jpg") no-repeat;
  font-family: generalFont;
}

h1{
  color: $oneColor;
  font-family: generalFont;
}

.container{
  &__subtitle{
    color: $twoColor;
    display: block;
    height: 140px;
    display: flex;
    justify-content: center;
  }
}

