@import 'base/fonts';
@import 'base/variables';

*{
  margin: 0;
  padding: 0;
}

body{
  color: $main-color;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}

h1{
  font-size: 64px;
  line-height: 70px;
  font-weight: 400;
}

h2{
  font-size: 39px;
  line-height: 42px;
  font-weight: 400;
}

p{
  margin: 10px 0;
}

a{
  color: $main-color;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
.title-small{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $second-color;
}


@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/banner';
@import 'blocks/process';
@import 'blocks/contact';